<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/static/Admin/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/static/Admin/bootstrap/css/bootstrap.css">
    <style>
        .aa th {
            text-align: center;
        }

        .bb td {
            text-align: center;
            padding: 10px 10px;
        }

        #delChecked {
            margin-top: -5.6%;
            margin-left: 31%;
        }
    </style>
</head>
<body class="layui-layout-body" style="background:#f0f0f0;">
<div class="layui-layout layui-layout-admin">
    {include file="public/nav"}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-card">
                <div class="layui-card-header">
                    管理员列表
                    <a style="float: right;margin-top: 15px;" href="{:url('Admin/add')}" class="layui-btn layui-btn-xs">添加管理员</a>
                </div>
                <div class="layui-card-body">
                    <form action="" method="get">
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 300px;">
                                <input type="text" name="keywords" placeholder="用户名/姓名/手机号" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <button class="btn btn-primary"><i class="layui-icon layui-icon-search"></i></button>
                        </div>
                    </form>
                    <button id="delChecked" class="btn btn-danger">批量删除</button>
                    <table class="layui-table">
                        <thead>
                        <tr class="aa">
                            <th><input type="checkbox" id="checkAll"></th>
                            <th>ID</th>
                            <th>用户名</th>
                            <th>头像</th>
                            <th>姓名</th>
                            <th>性别</th>
                            <th>手机</th>
                            <th>邮箱</th>
                            <th>状态</th>
                            <th>注册时间</th>
                            <th>注册IP</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        {empty name="res"}
                        <tr>
                            <td colspan="10">没有管理员数据！</td>
                        </tr>
                        {else/}
                        {foreach name="res" item="v"}
                        <tr class="bb" data-id="{$v.id}">
                            <td><input type="checkbox" value="{$v.id}" name="checkDel"></td>
                            <td>{$v.id}</td>
                            <td>{$v.username}</td>
                            <td class="file">
                                <img style="width: 100%;" src='/static/uploads/{$v.logo}'/>
                            </td>
                            <td>{$v.realname}</td>
                            <td>{$v.sex}</td>
                            <td>{$v.phone}</td>
                            <td>{$v.email}</td>
                            <td>{$v.status}</td>
                            <td>{$v.ctime}</td>
                            <td>{$v.ip}</td>
                            <td>
                                <a href="{:url('Admin/edit',['id'=>$v['id']])}"
                                   class="layui-btn layui-btn-normal layui-btn-xs">修改</a>
                                <a href="javascript:void(0);" data-id="{$v.id}"
                                   class="layui-btn layui-btn-danger layui-btn-xs del">删除</a>
                            </td>
                        </tr>
                        {/foreach}
                        {/empty}
                    </table>
                    <div class="pager">{$page}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="/static/Admin/jquery-3.3.1.min.js"></script>
<script src="/static/Admin/heightchats/highcharts.js"></script>
<script src="/static/Admin/layui/layui.all.js"></script>
<script>
    $("#Admin").addClass("layui-nav-itemed");
    $("#admin_list").addClass("layui-this");
    layui.use('element', function () {
        var element = layui.element;

    });

    $(".del").click(function (e) {
        var id = $(e.target).attr("data-id");
        layer.confirm("确定要删除此数据吗", {icon: 13}, function () {
            $.post("{:url('Admin/doDel')}", {"id": id}, function (data) {
                if (data.ok) {
                    layer.msg(data.msg, {icon: 1});
                    $(e.target).parents("tr").remove();
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, "json");
        });
    });

    $("#checkAll").click(function () {
        if (this.checked) {
            $("input[name='checkDel']").prop("checked", true);
        } else {
            $("input[name='checkDel']").prop("checked", false);
        }
    });

    $("#delChecked").click(function () {
        var id = new Array();
        $("input[name='checkDel']").each(function () {
            if (this.checked == true) {
                id.push(this.value);
            }
        });

        layer.confirm("确定要批量删除吗?", {icon: 13}, function () {
            $.post("{:url('Admin/moreDel')}", {"id": JSON.stringify(id)}, function (data) {
                if (data.ok) {
                    layer.msg(data.msg, {icon: 1});
                    setTimeout("window.location.reload()", 1000);
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            }, "json");
        });
    });
</script>
</body>
</html>