<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/static/Admin/layui/css/layui.css">
    <style type="text/css">
        body, html, #allmap {
            width: 100%;
            height: 100%;
            overflow: hidden;
            margin: 0;
            font-family: "微软雅黑";
        }
    </style>
    <script type="text/javascript"
            src="http://api.map.baidu.com/api?v=2.0&ak=9QSjXw8Py4XqoXwV5haGiQEmRriZv9s3"></script>
    <title>地图展示</title>
</head>
<body class="layui-layout-body" style="background:#f0f0f0;">
<div class="layui-layout layui-layout-admin">
    {include file="public/nav"}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-card" style="margin-top:-14px;margin-left: -13px">
                <div class="layui-card-header">企业管理系统</div>
                <div class="layui-card-body">
                    <div id="chart"></div>
                </div>
            </div>
        </div>
    </div>


</div>
<div id="allmap"></div>
<script src="/static/Admin/jquery-3.3.1.min.js"></script>
<script src="/static/Admin/heightchats/highcharts.js"></script>
<script src="/static/Admin/layui/layui.all.js"></script>
<script type="text/javascript">
    // 百度地图API功能
    var map = new BMap.Map("allmap");    // 创建Map实例
    map.centerAndZoom(new BMap.Point(116.404, 39.915), 11);  // 初始化地图,设置中心点坐标和地图级别
    //添加地图类型控件
    map.addControl(new BMap.MapTypeControl({
        mapTypes: [
            BMAP_NORMAL_MAP,
            BMAP_HYBRID_MAP
        ]
    }));
    map.setCurrentCity("北京");          // 设置地图显示的城市 此项是必须设置的
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放


    // 百度地图API功能
    var map = new BMap.Map("allmap");
    var point = new BMap.Point(116.404, 39.915);
    map.centerAndZoom(point, 15);

    // //创建小狐狸
    // var pt = new BMap.Point(116.417, 39.909);
    // var myIcon = new BMap.Icon("http://lbsyun.baidu.com/jsdemo/img/fox.gif", new BMap.Size(300,157));
    // var marker2 = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
    // map.addOverlay(marker2);              // 将标注添加到地图中
</script>

</body>
</html>