<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/static/Admin/layui/css/layui.css">
    <style>
        .aa th {
            text-align: center;
        }

        .bb td {
            text-align: center;
        }
    </style>
</head>
<body class="layui-layout-body" style="background:#f0f0f0;">
<div class="layui-layout layui-layout-admin">
    {include file="public/nav"}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-card">
                <div class="layui-card-header">
                    修改角色
                </div>
                <div class="layui-card-body">
                    <form action="{:url('Role/doEdit')}" enctype="multipart/form-data" method="post"
                          class="layui-form layui-form-pane">

                        <div class="layui-form-item">
                            <label class="layui-form-label">修改名称</label>
                            <div class="layui-input-block">
                                <input type="hidden" name="id" value="{$data.id}">
                                <input type="text" name="name" value="{$data.name}" required lay-verify="required"
                                       placeholder="请输入角色名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-block">
                                <input type="radio" name="status" value="1" title="启用" {if $data['status']==1}checked{/if}>
                                <input type="radio" name="status" value="0" title="禁用" {if $data['status']==0}checked{/if}>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">备注</label>
                            <div class="layui-input-block">
                                <input type="text" name="remark" value="{$data.remark}" required lay-verify="required"
                                       placeholder="请输入备注" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">选择权限</label>
                        </div>
                        <div class="layui-form-item">
                            {foreach $node_list as $v}
                            {if $v['level']==1 && $v['status']==1}
                            <input type="checkbox" class="{$v.name}" {if in_array($v['id'],$data['node_id'])}checked{/if}
                            data-level='1' name="node_id[]" value="{$v.id}" title="{$v.title}">

                            {foreach $node_list as $z}
                            {if $z['level']==2 && $z['status']==1 && $z['pid']==$v['id']}
                            <input type="checkbox" class="{$v.name}" {if in_array($z['id'],$data['node_id'])}checked{/if}
                            data-level='2' name="node_id[]" value="{$z.id}" title="{$z.title}">
                            {/if}
                            {/foreach}
                            <hr>
                            {/if}
                            {/foreach}
                        </div>

                        <div class="layui-form-item">
                            <button type="submit" lay-filter="formDemo" class="layui-btn layui-btn-normal">立即修改</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="/static/Admin/jquery-3.3.1.min.js"></script>
<script src="/static/Admin/heightchats/highcharts.js"></script>
<script src="/static/Admin/layui/layui.all.js"></script>
<script>
    $("#user").addClass("layui-nav-itemed");
    $("#role").addClass("layui-this");
    layui.use(['element', "form"], function () {
        var element = layui.element;
        var form = layui.form;

        form.on('submit(formDemo)', function (data) {
            //layer.msg(JSON.stringify(data.field))

            //return false;
        });

        form.on('checkbox()', function (data) {
            console.log(data.elem); //得到checkbox原始DOM对象
            //console.log(data.elem.checked); //是否被选中，true或者false
            var checkbox = data.elem;
            if (data.elem.checked == true) {
                var level = checkbox.getAttribute("data-level");
                var className = checkbox.getAttribute("class");
                if (level == 1) {
                    $("." + className).attr("checked", true);
                    form.render("checkbox");
                } else if (level == 2) {
                    $("." + className + "_1").attr("checked", true);
                    form.render("checkbox");
                    $("." + className).each(function () {
                        console.log($(this).attr("checked"));
                    });
                }
            } else {
                var level = checkbox.getAttribute("data-level");
                var className = checkbox.getAttribute("class");
                if (level == 1) {
                    $("." + className).attr("checked", false);
                    form.render("checkbox");
                } else if (level == 2) {
                    $("." + className + "_1").attr("checked", false);
                    form.render("checkbox");
                }
            }
            // console.log(data.value); //复选框value值，也可以通过data.elem.value得到
            // console.log(data.othis); //得到美化后的DOM对象
        });

    });
</script>
</body>
</html>