<div class="module" style="height:20px;">
    <ul class="container">
        <li class="active"><a href="{:url('Index/index')}" title="">网站首页</a></li>
        <li><a href="{:url('About/about')}" title="关于我们">关于我们</a>
            <div>
                <a href="{:url('About/about')}" title="公司介绍">公司介绍</a>
                <a href="{:url('Culture/culture')}" title="公司文化">公司文化</a>
                <a href="{:url('Leader/leader')}" title="组织框架">组织框架</a>
            </div>
        </li>
        <li><a href="{:url('Article/article')}" title="新闻动态">新闻动态</a>
            <div>
                <a href="{:url('Articleg/articleg')}" title="公司新闻">公司新闻</a>
                <a href="{:url('Articleh/articleh')}" title="行业新闻">行业新闻</a>
            </div>
        </li>
        <li><a href="{:url('Introduce/introduce')}" title="资质荣誉">资质荣誉</a>
            <div>
                <a href="{:url('Introducez/introduce_z')}" title="产品资质">产品资质</a>
                <a href="{:url('Introducer/introduce_r')}" title="公司荣誉">公司荣誉</a>
            </div>
        </li>
        <li><a href="{:url('Services/services')}" title="服务中心">服务中心</a>
            <div>
                <a href="{:url('Services/services')}" title="解决方案" target="_blank">解决方案</a>
                <a href="{:url('Feedback/feedback')}" title="投诉中心">投诉中心</a>
                <a href="{:url('Solutions/solutions')}" title="日常维护">日常维护</a>
            </div>
        </li>
        <li><a href="{:url('Product/product')}" title="产品中心">产品中心</a>
            <div>
                <a href="{:url('Productc/product_c')}" title="产品展示">产品展示</a>
                <a href="{:url('Products/product_s')}" title="视频展示">视频展示</a>
            </div>
        </li>
        <li><a href="{:url('Cases/cases')}" title="案例中心">案例中心</a>
            <div>
                <a href="{:url('Casek/case_k')}" title="客户列表">客户列表</a>
                <a href="{:url('Caseh/case_h')}" title="合作案例">合作案例</a>
            </div>
        </li>
        <li><a href="{:url('Job/job')}" title="人力资源">人力资源</a>
            <div>
                <a href="{:url('Job/job_g')}" title="岗位招聘">岗位招聘</a>
            </div>
        </li>
        <li><a href="{:url('Contact/contact')}" title="联系我们">联系我们</a>
            <div>
                <a href="{:url('Contact/contact')}" title="联系方式">联系方式</a>
                <a href="{:url('Message/message')}" title="留言反馈">留言反馈</a>
            </div>
        </li>
    </ul>
</div>