<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>弯箍机,弯曲中心,钢筋笼成型机,8字筋生产线,康振智能机械</title>
    <meta name="keywords" content="弯箍机,弯曲中心,钢筋笼成型机,8字筋生产线,8字筋弯曲机,康振机械,康振智能机械"/>
    <meta name="description"
          content="深圳市康振机械科技有限公司专业从事数控钢筋弯曲中心,数控钢筋锯切线,数控钢筋剪切线,数控钢筋笼滚焊机等产品的制造和销售,设备性能稳定,品质过硬,售后良好,可以优化施工工艺,提升项目效益;如有订购数控钢筋锯切线,数控钢筋剪切线需求,欢迎致电:0755-33673809."/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" type="text/css" href="/static/front/css/public.css"/>
    <link rel="stylesheet" type="text/css" href="/static/front/css/slick.css"/>
    <link rel="stylesheet" type="text/css" href="/static/front/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/static/front/css/photo.css"/>
    <link rel="stylesheet" type="text/css" href="/static/front/css/jquery.mmenu.all.min.css"/>
    <script src="/static/front/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <!--[if lt IE 9]>
    <script src="/static/front/js/html5.min.js"></script>
    <script src="/static/front/js/respond.min.js"></script><![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/front/css/orange.css" id="theme_css"
          css="/site/themes/T-XYS082/css/orange.css"/>
    <link rel="shortcut icon" href="/static/front/"/>
    <link rel="shortcut icon" href="/static/front/"/>
    <link rel="shortcut icon" href="/static/front/"/>
    <link rel="shortcut icon" href="/static/front/data/u14633/public/201703/20170324/2017032417030094659.ico"/>
    <script>
        var _root_ = '';
    </script>
    <!-- 用于联系我们百度地图 -->
    <script type="text/javascript" src="/static/front/js/0de5d44a4a474930a8d8005d8158d1b1.js"></script>
    <script type="text/javascript" src="/static/front/js/searchinfowindow_min.js"></script>
    <script type="text/javascript" src="/static/front/js/stylelist.js"></script>
    <link rel="stylesheet" href="/static/front/css/searchinfowindow_min.css"/>
    <link rel="stylesheet" href="/static/front/css/widget-style.css" type="text/css"/>
</head>
<body>
<header>
    <div class="top">
        <div class="container">
            <div class="left">
                <div class="place column" name="header_title">
                    <div class="module" style="">
                        欢迎进入深圳市康振机械科技有限公司官网！我们将竭诚为您服务！
                    </div>
                </div>
            </div>
            <div class="caidan">
                <div class="place column" name="header_menu" style="line-height: 40px;float: right;margin: 0 0 0 5px;">
                    <div class="module" style="">
                        <a href="/static/front/sitemaps.html" title="站点地图" class="memu">站点地图</a> |
                        <a href="/static/front/p-message.html" title="留言反馈" class="memu">留言反馈</a> |
                    </div>
                </div>
            </div>
            <div class="WeChat">
                <div class="place column" name="header_weixin" style="float: right;width:1px;margin-right:140px;">
                    <div class="module" style="">
                        <img src="/static/front/picture/wechat.png" class="vcenter" alt=""/>
                        <p><img src="/static/front/picture/2017032416142245423.png" class="vcenter" alt=""/></p>
                    </div>
                </div>
            </div>
            <div>
                <div class="place column" name="header_blog"
                     style="float: right;width:34px;height:40px;position:relative;">
                    <div class="module" style="">
                        <a href="/static/front/http://service.weibo.com/share/share.php?url=/" target="_blank"><img
                                src="/static/front/picture/blog.png" class="vcenter" alt=""/></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header">
        <div class="container">
            <div class="logo">
                <div class="place column" name="header_logo">
                    <div class="module" style="">
                        <a href="/static/front/"><img src="/static/front/picture/2017032416165419223.png"
                                                      title="深圳市康振机械科技有限公司" alt="深圳市康振机械科技有限公司"/></a>
                    </div>
                </div>
            </div>
            <div class="place column" name="header_home" style="float:right;">
                <div class="module" style="">
                    <div class="tel">
                        <p> 咨询热线&nbsp; </p>
                        <p><strong><span style="font-size:18px;color:#FF9900;">400-066-1809</span></strong></p>
                        <i style="line-height:1.5;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="nav">
        <div class="place column" name="header_nav">

            <div class="module" style="height:20px;">
                <ul class="container">
                    <li class="active"><a href="{:url('Index/index')}" title="">网站首页sdf</a></li>
                    <li><a href="{:url('About/about')}" title="关于我们">关于我们</a>
                        <div>
                            <a href="/static/front/p-about.html" title="公司介绍">公司介绍</a>
                            <a href="/static/front/p-culture.html" title="公司文化">公司文化</a>
                            <a href="/static/front/p-leader.html" title="组织框架">组织框架</a>
                        </div>
                    </li>
                    <li><a href="{:url('Article/article')}" title="新闻动态">新闻动态</a>
                        <div>
                            <a href="/static/front/article-1016.html" title="公司新闻">公司新闻</a>
                            <a href="/static/front/article-1017.html" title="行业新闻">行业新闻</a>
                        </div>
                    </li>
                    <li><a href="{:url('Introduce/introduce')}" title="资质荣誉">资质荣誉</a>
                        <div>
                            <a href="/static/front/p-introduce.html" title="产品资质">产品资质</a>
                            <a href="/static/front/p-achievement.html" title="公司荣誉">公司荣誉</a>
                        </div>
                    </li>
                    <li><a href="{:url('Services/services')}" title="服务中心">服务中心</a>
                        <div>
                            <a href="/static/front/p-services.html" title="解决方案" target="_blank">解决方案</a>
                            <a href="/static/front/p-feedback.html" title="投诉中心">投诉中心</a>
                            <a href="/static/front/p-solutions.html" title="日常维护">日常维护</a>
                        </div>
                    </li>
                    <li><a href="{:url('Product/product')}" title="产品中心">产品中心</a>
                        <div>
                            <a href="/static/front/product-1021.html" title="产品展示">产品展示</a>
                            <a href="/static/front/product-1044.html" title="视频展示">视频展示</a>
                        </div>
                    </li>
                    <li><a href="{:url('Cases/cases')}" title="案例中心">案例中心</a>
                        <div>
                            <a href="/static/front/case-1019.html" title="客户列表">客户列表</a>
                            <a href="/static/front/case-1018.html" title="合作案例">合作案例</a>
                        </div>
                    </li>
                    <li><a href="{:url('Job/job')}" title="人力资源">人力资源</a>
                        <div>
                            <a href="/static/front/p-job.html" title="岗位招聘">岗位招聘</a>
                        </div>
                    </li>
                    <li><a href="{:url('Contact/contact')}" title="联系我们">联系我们</a>
                        <div>
                            <a href="/static/front/p-contact.html" title="联系方式">联系方式</a>
                            <a href="/static/front/p-message.html" title="留言反馈">留言反馈</a>
                        </div>
                    </li>
                </ul>
            </div>
            <!--响应式-->
            <nav id="mmenu" style="opacity: 0;">
                <ul>
                    <li><a href="/static/front/" title="网站首页" class="mm-selected"
                           style="background: rgba(255, 255, 255, 0.6);">网站首页</a></li>
                    <li><a href="/static/front/p-about.html" title="关于我们">关于我们</a>
                        <ul>
                            <li><a href="/static/front/p-about.html" title="公司介绍">公司介绍</a></li>
                            <li><a href="/static/front/p-culture.html" title="公司文化">公司文化</a></li>
                            <li><a href="/static/front/p-leader.html" title="组织框架">组织框架</a></li>
                        </ul>
                    </li>
                    <li><a href="/static/front/article.html" title="新闻动态">新闻动态</a>
                        <ul>
                            <li><a href="/static/front/article-1016.html" title="公司新闻">公司新闻</a></li>
                            <li><a href="/static/front/article-1017.html" title="行业新闻">行业新闻</a></li>
                        </ul>
                    </li>
                    <li><a href="/static/front/p-introduce.html" title="资质荣誉">资质荣誉</a>
                        <ul>
                            <li><a href="/static/front/p-introduce.html" title="产品资质">产品资质</a></li>
                            <li><a href="/static/front/p-achievement.html" title="公司荣誉">公司荣誉</a></li>
                        </ul>
                    </li>
                    <li><a href="/static/front/p-services.html" title="服务中心">服务中心</a>
                        <ul>
                            <li><a href="/static/front/p-services.html" title="解决方案" target="_blank">解决方案</a></li>
                            <li><a href="/static/front/p-feedback.html" title="投诉中心">投诉中心</a></li>
                            <li><a href="/static/front/p-solutions.html" title="日常维护">日常维护</a></li>
                        </ul>
                    </li>
                    <li><a href="/static/front/product.html" title="产品中心">产品中心</a>
                        <ul>
                            <li><a href="/static/front/product-1021.html" title="产品展示">产品展示</a></li>
                            <li><a href="/static/front/product-1044.html" title="视频展示">视频展示</a></li>
                        </ul>
                    </li>
                    <li><a href="/static/front/case.html" title="案例中心">案例中心</a>
                        <ul>
                            <li><a href="/static/front/case-1019.html" title="客户列表">客户列表</a></li>
                            <li><a href="/static/front/case-1018.html" title="合作案例">合作案例</a></li>
                        </ul>
                    </li>
                    <li><a href="/static/front/p-job.html" title="人力资源">人力资源</a>
                        <ul>
                            <li><a href="/static/front/p-job.html" title="岗位招聘">岗位招聘</a></li>
                        </ul>
                    </li>
                    <li><a href="/static/front/p-contact.html" title="联系我们">联系我们</a>
                        <ul>
                            <li><a href="/static/front/p-contact.html" title="联系方式">联系方式</a></li>
                            <li><a href="/static/front/p-message.html" title="留言反馈">留言反馈</a></li>
                        </ul>
                    </li>
                    <li><a href="/static/front/sitemaps">站点地图</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <a href="/static/front/#mmenu" class="iconfont phone-nav"><img src="/static/front/picture/nav.png" alt=""/></a>
</header>