<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>layout 后台大布局 - Layui</title>
    <link rel="stylesheet" href="/static/Admin/layui/css/layui.css">
    <style>
        .aa th {
            text-align: center;
        }

        .bb td {
            text-align: center;
        }
    </style>
</head>
<body class="layui-layout-body" style="background:#f0f0f0;">
<div class="layui-layout layui-layout-admin">
    {include file="public/nav"}
    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">
            <div class="layui-card">
                <div class="layui-card-header">
                    修改权限
                </div>
                <div class="layui-card-body">
                    <form action="{:url('Node/doEdit')}" enctype="multipart/form-data" method="post"
                          class="layui-form layui-form-pane">
                        <input type="hidden" value="{$data.id}" name="id">
                        <div class="layui-form-item">
                            <label class="layui-form-label">上级菜单</label>
                            <div class="layui-input-block">
                                <select name="pid" id="pid">
                                    <option value="0">顶级菜单</option>
                                    {foreach $node_list as $v}
                                    {if $v['level']==1}
                                    <option {if $data[
                                    'pid']==$v['id']}selected{/if} value="{$v.id}">|--{$v.title}</option>
                                    {/if}
                                    {/foreach}
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">权限名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" value="{$data.name}" required lay-verify="required"
                                       placeholder="请输入权限名称" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">权限标题</label>
                            <div class="layui-input-block">
                                <input type="text" name="title" value="{$data.title}" required lay-verify="required"
                                       placeholder="请输入权限标题" autocomplete="off" class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">权限URL</label>
                            <div class="layui-input-block">
                                <input type="text" name="url" value="{$data.url}" required value="/index.php/"
                                       lay-verify="required" placeholder="请输入权限URL地址栏" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-block">
                                <input type="radio" name="status" value="1" title="启用" {if $data['status']==1}checked{/if}>
                                <input type="radio" name="status" value="0" title="禁用" {if $data['status']==0}checked{/if}>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <button type="submit" lay-filter="formDemo" class="layui-btn layui-btn-normal">提交</button>
                            <button type="submit"></button>
                            <!-- <input type="submit" name=""> -->
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © layui.com - 底部固定区域
    </div>
</div>
<script src="/static/Admin/jquery-3.3.1.min.js"></script>
<script src="/static/Admin/heightchats/highcharts.js"></script>
<script src="/static/Admin/layui/layui.all.js"></script>
<script>
    $("#Admin").addClass("layui-nav-itemed");
    $("#node").addClass("layui-this");
    layui.use(['element', "form"], function () {
        var element = layui.element;
        var form = layui.form;

        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
</script>
</body>
</html>